<div class="card my-5">
  <div class="card-body">
    <span>Select severity level for </span>
    <span>{{illness}}:</span>

    <table class="pain-table">
      <tr>
        <th class="pain-table-col" (click)="chooseHospital(0);">0</th>
        <th class="pain-table-col" (click)="chooseHospital(1);">1</th>
        <th class="pain-table-col" (click)="chooseHospital(2);">2</th>
        <th class="pain-table-col" (click)="chooseHospital(3);">3</th>
        <th class="pain-table-col" (click)="chooseHospital(4);">4</th>
      </tr>
    </table>
  </div>
</div>
